/* --- Generic styles --- */

:root {
    --bg: #191919;
    --bg-secondary: #3A3B3C;
    --primary: #2D4263;
    --secondary: #C84B31;
    --text: #FFF;
    --success: #6DA34D;
    --error: #BB3434;
}

html, body {
    margin: 0 !important;
    width: 100%;
    height: 100%;

    background-color: var(--bg);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}

.button {
    background-color: var(--secondary);
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    color: inherit;

    padding: 0.2em 0.5em;
    font-size: 0.7em;
}
.button:active {
    opacity: 0.7;
}

.dropdown {
    background-color: var(--primary);
    border: none;
    border-radius: 0.2em;
    color: inherit;
    appearance: none;
    font-size: inherit;
    width: 100%;

    padding: 0.1em 1.2em 0.1em 0.2em;
    text-overflow: clip;

    background-image: url("res/chevron-down.svg");
    background-repeat: no-repeat;
    background-position-x: calc(100% - 0.2em);
    background-position-y: center;
    background-size: 1em;
}

.radio {
    appearance: none;
    font-size: inherit;
    
    width: 0.6em;
    height: 0.6em;
    background-color: var(--text);
    border-radius: 50%;
    cursor: pointer;
}
.radio:checked {
    background-color: var(--primary);
    border: 0.1em solid var(--text);
}

/* --- Layout --- */

body {
    display: flex;
    flex-direction: row;
    font-size: clamp(2.5vh, 1.8rem, 5vw);  /* Honestly these values don't mean much. */
}
.options {
    flex: none;
    box-sizing: border-box;
    padding: 0.8em;
    max-width: 30%;
}
.body {
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 0.8em 2em 0.8em 1.2em;
}

@media only screen and (orientation: portrait) {
    body {
        display: unset;
    }
    .options {
        max-width: none;
        width: 100%;

        padding-bottom: 1em;
        border-bottom: 2px solid var(--primary);
    }
    .body {
        width: 100%;
    }
}

/* --- Specific styles --- */

/* Options panel */
.options > * {
    margin: 0.2em 0;
}
.options > div > * {
    margin: 0.2em 0;
}

.options__textbox {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    border: none;
    outline: none;
    
    display: block;
    border-bottom: 2px solid var(--primary);
    width: 100%;
}
.options__textbox::placeholder {
    font-size: 0.6em;
}

.options__small {
    font-size: 0.7em;
    height: 1em;
}

.options__buttons {
    display: flex;
    flex-direction: row;
    gap: 0.1em;

    width: 100%;
}
.options__buttons__use {
    flex: 1 1 auto;
}
.options__buttons__share {
    /* TODO: Ensure this is a square */
    flex: none;
    padding: 0.4em;
}
.options__buttons__share > img {
    display: block;
    margin: auto;
    width: 100%;
}

.error {
    color: var(--error);
    font-size: 0.8em;
}

/* Body */
.body {
    display: flex;
    flex-direction: column;
}

.body__header {
    flex: none;
    border-bottom: 2px solid var(--secondary);
    user-select: none;
}
.body__header__tab {
    border: none;
    color: inherit;
    font-size: inherit;
    background-color: transparent;

    max-width: 50%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 0.2em 0.5em;
    box-sizing: border-box;
    cursor: pointer;
}
.body__header__tab--selected {
    border-radius: 0.2em 0.2em 0 0;
    background-color: var(--secondary);
}

.body__page {
    flex: 1;
    overflow: hidden auto;
    padding: 0.6em 0.5em;
}

.card {
    background-color: var(--bg-secondary);
    padding: 0.6em 1em;
    border-radius: 0.3em;
    font-size: 0.9em;
    margin-bottom: 0.8em;
    position: relative;

    animation: slide-in calc(var(--offset) * 0.1s) linear 0s;
}

@keyframes slide-in {
    0% {
        opacity: calc(var(--offset) * 0.1);
        transform: translateX(calc(var(--offset) * 1em));
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.card--correct {
    background-color: var(--success);
}
.card--correct .card__field {
    border-bottom-color: var(--text);
}

.card--wrong {
    background-color: var(--error);
}
.card--wrong .card__field {
    border-bottom-color: var(--text);
}

.card__field {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    border: none;
    outline: none;

    width: 5em;
    height: 1em;
    border-bottom: 2px solid var(--text);
    text-align: center;
}
.card__field--correct {
    border-bottom-color: var(--success);
}
.card__field--wrong {
    border-bottom-color: var(--error);
}

.card__answer {
    border-bottom: 2px solid var(--text);
    min-width: 5em;
    display: inline-block;
    text-align: center;
}
.card__answer__wrong {
    text-decoration: line-through;
    opacity: 0.5;
}

.card--practice {
    padding-right: 2em;
}

.card__check {
    background-color: transparent;
    border: none;
    font-size: inherit;
    cursor: pointer;
    padding: 0;

    background-image: url("res/check-circle.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 1em;
    height: 1em;

    position: absolute;
    right: 0.6em;
    top: 0.6em;
}
.card__check:active {
    opacity: 0.7;
}