:root {
    --body: #191919;
    --primary: #2D4263;
    --secondary: #C84B31;
    --text: #ECDBBA;
}

html, body {
    margin: 0 !important;
    background-color: var(--body);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
}
.options {
    flex: none;
    max-width: 30%;
    width: 250px;
    box-sizing: border-box;
    padding: 0.5em;
}
.body {
    flex: 1 1 auto;
    box-sizing: border-box;
    padding: 2em;
}

@media only screen and (orientation: portrait) {
    body {
        display: unset;
    }
    .options {
        max-width: none;
        width: 100%;

        padding-bottom: 1em;
        border-bottom: 2px solid var(--primary);
    }
    .body {
        width: 100%;
    }
}

.options > * {
    margin: 0.2em 0;
}
.dropdown {
    background-color: var(--primary);
    border: none;
    border-radius: 0.2em;
    color: inherit;

    width: 100%;
    font-size: inherit;
    padding: 0;
}
.options__textbox {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--primary);
    color: inherit;

    width: 100%;
    font-size: inherit;
}
.options__textbox:focus {
    outline: none;
}
.options__small {
    width: 100%;
    font-size: 0.7em;
    height: 1em;
}
.options__select {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.button {
    background-color: var(--secondary);
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
    color: inherit;

    padding: 0.2em 0.5em;
    font-size: 0.7em;
}
.button:active {
    opacity: 0.7;
}